/*Importar el estilo principal "/HomeView/home.css"*/
@import url('/HomeView/home.css');

h2 {
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;
  font-size: 23px;
}